body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

/*HEADER STYLES*/

.tripTitleDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url("images/sailboat.png");
    background-size: cover;
    background-position: right;
    height: 30vh;
    padding: 2%;
}

#logoImage {
    width: clamp(50vw, 50vw, 60vw);
    max-width: 85vw;
}

.sortByDiv {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

header a {
    font-size: 24pt;
    padding: 0.7rem;
}

header a, input, .cardBottom button {
    display: inline-block;
    background-color: rgba(77, 77, 77, 0.44);
    width: fit-content;
    margin: 0.2rem;
    color: #ffffff;
    text-decoration: none;
    outline: 0;
    border: 0;
    cursor: pointer;
    box-shadow: 0 2px 4px rgb(45 35 66 / 40%), 0 7px 13px -3px rgb(45 35 66 / 30%), inset 0 -3px 0 rgba(214, 214, 231, 0.24);
    border-radius: 0.2em;
}

header a {
    transition: box-shadow 0.15s ease, transform 0.15s ease;
    will-change: box-shadow, transform;
}

header a:hover {
    box-shadow: 0 4px 8px rgb(45 35 66 / 40%), 0 7px 13px -3px rgb(45 35 66 / 30%), inset 0 -3px 0 rgba(214, 214, 231, 0.2);
    transform: translateY(-2px);
}
header a:active{
    box-shadow: inset 0 3px 7px rgba(214, 214, 231, 0.27);
    transform: translateY(2px);
}


/*DROPDOWN STYLES*/

select {
    width: 8rem;
    font-size: 16pt;
    color: white;
    margin: 0.2rem;
    background-color: rgba(77, 77, 77, 0.44);
    border: none;
    outline: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgb(45 35 66 / 40%), 0 7px 13px -3px rgb(45 35 66 / 30%), inset 0 -3px 0 rgba(158, 158, 166, 0.24);
}

select:required:invalid {
    color: #666;
}
option[value=""][disabled] {
    display: none;
}
option {
    color: #000;
}

/*PASSPORT PAGE STYLE*/

.passportPage {
    padding: 2%;
    background-color: rgba(210, 210, 210, 0.15);
}

.passportDiv {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 0;
    justify-content: space-evenly;
    align-items: center;
}

/*PASSPORT STAMP STYLES*/

.stamp {
    display: flex;
    border-radius: 10px;
    width: 40%;
    align-items: center;
    justify-content: center;
    margin: 5px 0;
}

img {
    width: 95%;
}

/*INFO CARD STYLES*/

.card {
    display: flex;
    padding: 0.7rem;
    flex-direction: column;
    background-color: rgba(197, 206, 203, 0.59);
}

.card form {
    display: flex;
    justify-content: flex-end;
}

h2 {
    margin: 0.1rem;
    padding: 0.1rem;
    font-size: 24pt;
}

p {
    font-size: 16pt;
    padding: 0;
    margin: 0.2rem;
}

.cardTop {
    display: flex;
    height: 70%;
}

.cardBottom {
    height: 30%;
    padding: 1rem;
}

.cardBottom button {
    padding: 0.5rem;
}

.cardTopLeft, .cardTopRight {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*NEW ENTRY PAGE STYLES*/

.passportPage form {
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(178, 178, 178, 0.47);
    border-radius: 0.8rem;
    padding: 0.3rem;
    align-items: center;
    justify-content: flex-start;
}

.passportPage input {
    margin: 0.3rem;
    font-size: 20pt;
    color: #ffffff;
    height: 4vh;
}

::placeholder {
    color: #cecece;
}

input.date {
    font-size: 10pt;
    color: #cecece;
    font-weight: bold;
}

.halfWidth {
    width: 40%;
}

.fullWidth {
    width: 80%;
    margin-inline: 4%;
}

.quarterWidth {
    width: 25%;
}

